body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  color: $dark;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bevan', cursive;
}
h1 {
  font-size: 2rem;
  color: $medium;
}
h2 {
  margin: 2rem 0 3rem;
  position: relative;
  z-index: 1;
  font-size: 2rem;
  color: $dark;

  &:after {
    content: 'Work History';
    padding: .4rem 0 1rem .4rem;
    position: absolute;
    top: .1em;
    left: 0;
    z-index: -1;
    color: $light;
  }
}
h3 {
  line-height: 1.2em;
}

ul {
  padding-left: 2rem;
  list-style-type: circle;
}
